<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="RKD_LlmsTxt::config" title="RKD LLMs.txt Configuration"
                                      translate="title" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="RKD_LlmsTxt::manage" title="RKD LLMs.txt" translate="title" sortOrder="100">
                    <resource id="RKD_LlmsTxt::generate" title="Generate LLMs.txt Files"
                              translate="title" sortOrder="10"/>
                    <resource id="RKD_LlmsTxt::preview" title="Preview LLMs.txt Output"
                              translate="title" sortOrder="20"/>
                    <resource id="RKD_LlmsTxt::validate" title="Validate LLMs.txt"
                              translate="title" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
