<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rkd_llmstxt>
            <general>
                <enabled>1</enabled>
                <auto_regeneration>1</auto_regeneration>
                <cron_schedule>0 0 * * *</cron_schedule>
            </general>
            <content>
                <include_cms_pages>1</include_cms_pages>
                <include_categories>1</include_categories>
                <category_depth_limit>3</category_depth_limit>
                <include_products>1</include_products>
                <product_limit>0</product_limit>
                <product_sort_order>bestsellers</product_sort_order>
                <include_metadata>1</include_metadata>
                <exclude_out_of_stock>1</exclude_out_of_stock>
            </content>
            <full_txt>
                <enabled>1</enabled>
                <max_file_size_mb>5</max_file_size_mb>
                <content_depth>detailed</content_depth>
            </full_txt>
            <product_data>
                <include_price>1</include_price>
                <include_sku>1</include_sku>
                <include_short_description>1</include_short_description>
            </product_data>
            <validation>
                <validate_on_generation>1</validate_on_generation>
                <block_on_errors>0</block_on_errors>
            </validation>
            <robots_txt>
                <auto_inject>1</auto_inject>
            </robots_txt>
        </rkd_llmstxt>
    </default>
</config>
